.bio {
  background-color: purple;
  height: 400px;
}
.project1{
  background-color: cyan;
  height: 400px;
}
.project2{
  background-color: aliceblue;
  height: 400px;
}
.project3{
  background-color: lightblue;
  height: 400px;
}
